apiVersion: apps/v1
kind: Deployment
metadata:
    name: rentora-backend
    namespace: rentora
spec:
    replicas: 3
    selector:
        matchLabels:
            app: rentora-backend
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 1
    template:
        metadata:
            labels:
                app: rentora-backend
        spec:
            containers:
            - name: backend
              image: midnight4002/rentora_backend:latest
              ports: 
                - containerPort: 8081
              env:
                - name: SPRING_DATASOURCE_URL
                  value: jdbc:postgresql://postgres:5432/rentora_db
                - name: POSTGRES_USER
                  value: admin
                - name: POSTGRES_PASSWORD
                  value: admin
                - name: APP_CORS_ALLOWED_ORIGINS
                  value: http://localhost:3000,http://localhost:5173
---
apiVersion: v1
kind: Service
metadata:
  name: rentora-backend-service
  namespace: rentora
spec:
  selector:
    app: rentora-backend
  ports:
    - name: http
      port: 8080
      targetPort: 8081
  type: ClusterIP
