apiVersion: apps/v1
kind: Deployment
metadata:
  name: rentora-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: rentora-backend
  template:
    metadata:
      labels:
        app: rentora-backend
    spec:
      containers:
      - name: rentora-backend
        image: chanathipcha24/rentora-api:latest
        ports:
        - containerPort: 8081
        env:
        - name: SERVER_PORT
          value: "8081"
        - name: POSTGRES_DB
          value: "apartment_db"
        - name: POSTGRES_USER
          value: "admin"
        - name: POSTGRES_PASSWORD
          value: "admin"
        - name: SPRING_DATASOURCE_HOST
          value: "rentora-postgres" # use service name in cluster
        - name: JWT_SECRET
          value: "YourVerySecretJWTKeyThatShouldBeAtLeast256BitsLongForHS256Algorithm"
        - name: AWS_S3_ACCESS_KEY
          value: "AWS_S3_ACCESS_KEY"
        - name: AWS_S3_SECRET_ACCESS_KEY
          value: "AWS_S3_SECRET_ACCESS_KEY"
        - name: AWS_S3_BUCKET_NAME
          value: "rentora-images"
        - name: AWS_S3_REGION
          value: "ap-southeast-1"
        - name: APP_CORS_ALLOWED_ORIGINS
          value: "http://example.com,http://localhost:3000,http://localhost:5173,http://localhost"
---
apiVersion: v1
kind: Service
metadata:
  name: rentora-backend-service
spec:
  selector:
    app: rentora-backend
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP